#charset "UTF-8";


* {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    background-image: linear-gradient(to right, #C4E655,#526610);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0e86488a;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #3A9E6B;
    text-align: center;
    text-shadow: 1px 1px 2px #236443bd;
}
h2 {
    color: #0D522E
}
p {
    text-align: justify;
}

